.top-banner-sale{
    height: 40px;
}
.navbar-secondary {
    border-bottom: 1px solid #ddd; /* Light gray border at the bottom */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.carousel {
    max-width: 800px; 
    margin: auto; 
}