/* Body Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    color: #444;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h3, h4 {
    color: #2c3e50;
    margin-top: 30px;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
}

/* Paragraph and List Styling */
ul {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px;
    font-size: 1.2rem;
    padding-left: 20px;
    position: relative;
}

ul li::before {
    content: "\2022"; /* Bullet character */
    position: absolute;
    left: 0;
    color: black; /* Custom color for the bullets */
    font-size: 1.2rem;
}

/* Back to Top Button Styling */
.back-to-top-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
#backToTopBtn {
    padding: 8px 14px;
    font-size: 14px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#backToTopBtn:hover {
    background-color: black;
    transform: scale(1.1);
}
#backToTopBtn::after {
    font-size: 14px;  /* Smaller icon size */
}

/* Content Section Styling */
.content-section {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 1100px;
}

.content-section h4 {
    margin-bottom: 20px;
}

/* Header Style */
.header {
    text-align: center;
    padding: 40px 20px;
    font-weight: 600;
    color: #2c3e50;
    background-color: #ecf0f1;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header h2 {
    font-size: 2rem;
    letter-spacing: 0.8px;
}

/* Paragraph Styling */
p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
}

/* Footer Styling */
footer {
    background-color: #2c3e50;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer .container {
    max-width: 1200px;
    text-align: center;
}

footer h6 {
    font-weight: 600;
    color: #ecf0f1;
    font-size: 1.1rem;
}

footer p {
    font-size: 1.1rem;
    color: #bbb;
}

footer .text-reset {
    text-decoration: none;
    color: #ecf0f1;
}

footer .text-reset:hover {
    text-decoration: underline;
    color: #3498db;
}

/* Smooth Scroll Effect for Back to Top Button */
html {
    scroll-behavior: smooth;
}
